@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
/*Tooltip styling*/
[data-tooltip] {
  position: relative;
  cursor: default;
}

[data-tooltip]::after {
  position: absolute;
  width: auto;
  bottom: 25%;
  right: 150%;
  text-align: center;
  box-sizing: border-box;

  content: attr(data-tooltip);
  color: #e28f8f;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: black double 5px;
  font-weight: bold;

  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/*End Tooltip styling*/
