#free-rein {
  background-image: url("./Components/TabComponents/images/free-rein.png");
}

#iss-tracker {
  background-image: url("./Components/TabComponents/images/iss-tracker.png");
}

#poke-index {
  background-image: url("./Components/TabComponents/images/pokeindex.png");
}

#bug-tracker {
  background-image: url("./Components/TabComponents/images/bug-tracker.jpg");
}

#steam-trader {
  background-image: url("./Components/TabComponents/images/steam-logo.jpg");
}

#BOT1 {
  background-image: url("./Components/TabComponents/images/1UP-Bot1.png");
}

#BOT2 {
  background-image: url("./Components/TabComponents/images/1UP-Bot2.png");
}

#BOT3 {
  background-image: url("./Components/TabComponents/images/1UP-Bot3.png");
}
